<section class="section__title_page">
  <div class="container__person_inf">

    <div class="person_inf__img">
      <div class="block_img">
        <img src="../../../../assets/img/ic_person.svg" alt="">
      </div>
    </div>

    <div class="person_inf__name">
      <p>Иванов</p>
      <p class="type">Администратор</p>
    </div>

    <div class="block__arrow">
      <div class="img">
        <img src="../../../../assets/img/input-arrow-down.svg" alt="">
      </div>
    </div>
  </div>

  <div class="block__burger" (click)="stateBurger()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
