a, button{

  &.btn{
    display: inline-flex;
    padding: 8px 15px;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s ease;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: 'Moscow Sans', sans-serif;
    line-height: 21px;
    gap: 0 8px;

    @media (max-width: 1199px) {
      font-size: 16px;
    }

    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  &.btn-fill{
    border-radius: 8px;
    background: #DA2032;
    color: white;
  }

  &.disabled{
    border-radius: 8px;
    background: rgba(102, 111, 120, 0.1);
    color: #666F78;
  }


  &:hover{
    opacity: .8;
  }
}
