.mat-expansion-panel-body {
  padding: 0 !important;
  background: #666F78 !important;
}

.mdc-data-table__header-row {
  height: fit-content !important;
}

.mdc-data-table__row {
  height: fit-content !important;
}

.ng-trigger {
  background: none !important;
}
